{% load static %}
<html>
    <head>
        <title>MPMN blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1>María P. Marcos Núñez</h1>
            <h4> Ph.D Student in Industrial Engineering</h4>
        </div>
        <div>
        <h2>Personal information</h2>
        <ul>
            <li> Electronic adress: <em>maria.marcos@autom.uva.es</em></li>
            <li> LinkedIn: <a href="https://www.linkedin.com/in/mar%C3%ADa-marcos-n%C3%BA%C3%B1ez-7559b8b8/">Maria Marcos</a></li>
        </ul>
        </div>

        <div class="content container">
        <h2> Recent work</h2>       
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
    </body>
</html>