<html>
    <head>
        <title>MPMN blog</title>
    </head>
    <body>
        <h1>Este es mi primer blog</h1>
        <p>Blog creado en mi primer taller de django girls.
             <strong> Y mañana la PyConEs</strong></p>
        <h2>Informacion personal</h2>
        <ul>
            <li> Correo electronico: <em>maria.marcos@autom.uva.es</em></li>
            <li> Pagina de LinkedIn: <a href="https://www.linkedin.com/in/mar%C3%ADa-marcos-n%C3%BA%C3%B1ez-7559b8b8/">Maria Marcos</a></li>
        </ul>
    </body>
</html>